#main-wrapper{
	width: 80%;
	margin:  auto;
	text-align: center;
}

header{
	background-color: grey;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-end;
	text-transform: uppercase;
}

#logo{
	margin: 10px 0 0 45px;
}

nav ul{
	display:  flex;
	list-style-type: none;
}

nav li{
	margin-right: 45px;
}

nav a{
	font-size: 1.3em;
	text-decoration: none;
	color: black;
}

nav a:hover{
	border-bottom: solid black 3px;
	color: red;
}

.carroussel{
	width: 1260px;
	/* background-color: rgba(100, 100, 100, 0.5); */
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: auto;
}

.carroussel img{
	width: 180px;

}