@font-face {
    font-family: 'intro_rust_gbase_2_line';
    src: url('fonts/introrustg-base2line-webfont.eot');
    src: url('fonts/introrustg-base2line-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/introrustg-base2line-webfont.woff2') format('woff2'),
         url('fonts/introrustg-base2line-webfont.woff') format('woff'),
         url('fonts/introrustg-base2line-webfont.ttf') format('truetype'),
         url('fonts/introrustg-base2line-webfont.svg#intro_rust_gbase_2_line') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'intro_head_rbase';
    src: url('fonts/introheadr-base-webfont.eot');
    src: url('fonts/introheadr-base-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/introheadr-base-webfont.woff2') format('woff2'),
         url('fonts/introheadr-base-webfont.woff') format('woff'),
         url('fonts/introheadr-base-webfont.ttf') format('truetype'),
         url('fonts/introheadr-base-webfont.svg#intro_head_rbase') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	background: black;
	color: rgb(216,165,120);
	font-family: intro_rust_gbase_2_line;
}

#main-wrapper {
	width: 80%;
	margin:  auto;
	text-align: center;
}

header {
	background-color: rgb(216,165,120);
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	text-transform: uppercase;
	border-radius: 25px;
}

#logo {
	margin: 10px 0 0 45px;
}

nav ul {
	display:  flex;
	list-style-type: none;
}

nav li {
	margin-right: 45px;
}

nav a {
	font-size: 1.3em;
	text-decoration: none;
	color: black;
}

nav a:hover {
	color: rgb(185,14,10);
}

#best_film {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 50px auto;
	width: 70%;
	border: solid;
	border-radius: 25px;
	align-items: center;
	background-color: rgb(144,13,9);
	color: black;
}

#best_film > div {
	display:flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: auto;
	margin-bottom: 20px;
	margin-right: 10px
}

#best_film div h1{
	font-size: 50px;
}

#best_film div p {
	width: 100%;
	font-size: 15px;
}

#button {
	width: 115px;
	background-color: rgb(216,165,120);
	border-radius: 12px;
	font-family: intro_head_rbase;
	font-size: 20px;
}

#button:hover {
	border-color: rgb(185,14,10);
	cursor: pointer;
	color: rgb(185,14,10)
}

#best_film img {
	border-radius: 10px;
}

.main-wrapper__carousel {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 10px;
}

.main-wrapper__carousel div img {
	display: none;
	pointer-events: none;
	margin: 10px;
}
.main-wrapper__carousel button {
    font-size: 20px;
	opacity:0.2;
	margin: 15px;
	width: 35px;
	height: 75px;
	background-color: rgb(216,165,120);
	border-radius: 5px;
}

.main-wrapper__carousel div img.view{
	display: inline;
	pointer-events: all;
	border: solid;
	border-color: black;
	border-radius: 15px;
	cursor: pointer;
}

.main-wrapper__carousel div img.view:hover{
	border-color: rgb(185,14,10);
}

.main-wrapper__carousel button.view {
	opacity: 1;
}

.main-wrapper__carousel button.view:hover {
	border: solid rgb(185,14,10);
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	padding-bottom: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.8);
}
.modal__content {
	background-color: rgb(216,165,120);
	margin: auto;
	margin-bottom: 200px;
	position: relative;
	border-radius: 25px;
	width: 80%;
	color: black;
	animation-name: animatetop;
	animation-duration: 0.4s
}

.modal__content__header__close {
	color: rgb(216,165,120);
	float: right;
	font-size: 28px;
	font-weight: bold;
}
  
.modal__content__header__close:hover,
.modal__content__header__close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.modal__content__header {
	padding: 2px 16px;
	background-color: rgb(144,13,9);
	border-radius: 25px 25px 0 0;
}

.modal__content__body {
	padding: 2px 16px;
	text-align: center;
	font-family: intro_head_rbase;
	font-size: 20px;
}

.modal__content__body img {
	margin-top: 25px;
	border-radius: 15px;
}
	
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}